<!--View Information-->
<!--View name : Menu-->
<!--Controller name : menuCtrl-->
<!--Controller path : www/templates/menu/js/controllers.js-->
<!--State name : app-->
<!--URL : #app-->

<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced  material-background-nav-bar">
            <ion-nav-buttons side="left">
                <a class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="toggleLeft()"></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <md-sidenav md-component-id="left" on-swipe-left="closeSideNav()" on-drag-left="closeSideNav()">
        <!--menu section-->
        <div class="material-background" id="toggle-menu-left-header">
            <!--menu header section-->
            <div class="menu-left-header">
                <img class="user-img" src="img/profileAvatar.jpg">

                <p>
                    <span class="title">Ionic Material</span>
                    <br/>
                    <span class="sub-title">Material Design Application</span>
                </p>
            </div>
            <!--end menu header section-->
        </div>
        <!--menu content section-->
        <ion-content id="toggle-menu-left-content">

            <!--If device is android application will present below code.-->
            <!--It will disable animation to better performance on android.-->
            <!--list section-->
            <div ng-if="isAndroid" class="menu-list">
                <div ng-if="isAuthenticated">
                    <md-subheader class="md-warn">会员</md-subheader>
                    <md-list-item class="menu-list-item" ng-click=" logout()">
                        <i class="fa fa-sign-out"></i>
                        <span>退出</span>
                    </md-list-item>
                    <md-list-item class="menu-list-item" ng-click="navigateTo('user.profile')">
                        <i class="fa fa-user-plus"></i>
                        <span>个人资料</span>
                    </md-list-item>
                    <md-subheader class="md-warn">机构</md-subheader>
                    <ion-list>
                        <a class=" item item-icon-right"  ng-repeat="space in userSpaces" ng-click = "selectSpace(space)" >
                            {{space.name}}
                            <i class="icon icon-chevron-right icon-accessory"></i>
                        </a>
                    </ion-list>
                </div>
            </div>


            <!--If device is not Android application will present below code.-->
            <!--It will show animation when selecting row.-->
            <md-list ng-if="!isAndroid">
                <div ng-if="isAuthenticated">
                    <md-subheader class="md-warn">会员</md-subheader>
                    <md-list-item class="menu-list-item" ng-click=" logout()">
                        <i class="fa fa-sign-out"></i>
                        <span>退出</span>
                    </md-list-item>
                    <md-list-item class="menu-list-item" ng-click="navigateTo('user.profile')">
                        <i class="fa fa-user-plus"></i>
                        <span>个人资料</span>
                    </md-list-item>
                    <md-subheader class="md-warn">机构</md-subheader>
                    <ion-list>
                        <a class=" item item-icon-right"  ng-repeat="space in userSpaces" ng-click = "selectSpace(space)" >
                            {{space.name}}
                            <i class="icon icon-chevron-right icon-accessory"></i>
                        </a>
                    </ion-list>
                </div>
            </md-list>
            <!--end list section-->
        </ion-content>
        <!--end menu content section-->
        <!--end menu section-->

    </md-sidenav>
</ion-side-menus>